:root{
   --brandgreen:  rgb(95, 231, 191);
  --brandgrey:  rgb(64,  64, 64);
  --brandblue: rgb(56, 145, 166) ;
  --brandred: rgb(175, 91, 91) ;
    --brandorange: rgb(237, 106, 90) ;

}

.blue{
    background-color: var(--brandblue);
}

.green{
    background-color: var(--brandgreen);
}

.dark{
    background-color: var(--brandgrey);
}

/*shadows*/
.soft-shadow{
   margin: 0 auto;
   -webkit-box-shadow: 0 2px 30px 1px #ddd;
   box-shadow: 0 2px 30px 1px #ddd;
}

.soft-shadow-dark{
   margin: 0 auto;
   -webkit-box-shadow: 0 2px 30px 1px #333;
   box-shadow: 0 2px 30px 1px #333;
}

.soft-shadow-blue{
   margin: 0 auto;
   -webkit-filter: drop-shadow(0px 2px 30px rgb(36, 125, 146));
  filter: drop-shadow(0px 2px 30px rgb(36, 125, 146));
}

.navbar-default{
    font-weight: 400;
}

.btn-outline:hover{
    -webkit-box-shadow: 0 2px 30px 1px #444;
    box-shadow: 0 2px 30px 1px #444;
}


.device-mockup > .device {
  width: 1391px;
  height: 860px;

}
.logo{
  text-align: center;
}

.stash-logo{
width: 600px;
height: 300px;
}

.stash-logo-header{
  width: 100px;
  height: 50px;
  vertical-align: middle;
  padding: 2px;
}

.affix .stash-logo-words{
    display: none;
}

.affix-top  .stash-logo-header{
  display: none;
}

.affix .navbar-brand{
  padding: 0;
}

@media (max-width: 984px){

  .stash-logo{
  width: 400px;
  height: 200px;
  }

}

.white{
  color: white;
}

.video{
  padding: 0px 0;
  background-color: var(--brandgreen);
  width: 100%;
}
.video-wrapper{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.video-frame{
  position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    width: 100%;
}

.feature-item{
    text-align: center;
}
.feature-item h3{
    margin-top: 40px;
    margin-bottom: 20px;
}

.benefits .feature-item{
    border-radius: 10px;
    padding: 20px;
margin-bottom: 30px;
color: var(--brandgrey);
}

@media (min-width: 992px){
.benefits .feature-item{
    height: 350px;
    margin-bottom: 10px;
}
}



.icon{
  font-size: 6em;
  text-align: center;
  color: var(--brandgrey);
}

.features{
  background-color: var(--brandgrey);
}

.features .text-muted{
  color: var(--lightgrey);
}

.feature-list{
font-weight: 300;
}

.bold{
    font-weight: 600;
}

section.features .feature-item{
    height: 250px;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
}

@media (min-width: 992px){
.features.feature-item{
    margin-bottom: 10px;
}
}


.pricing .feature-item{
    border-radius: 10px;
    padding: 20px;
margin-bottom: 30px;
color: white;
}

.pricing .feature-item-2{
    border-radius: 10px;
    padding: 20px;
margin-bottom: 30px;
    color: var(--brandgrey);
}

.pricing .text-muted {
    color: white;
}


 .pricing hr{
     border-color: white;
 }

@media (min-width: 992px){
.pricing .feature-item{
    height: 700px;
    margin-bottom: 10px;
}
.more-padding{
    padding-top: 50px;
}
}

@media (min-width: 1200px){
.pricing .feature-item{
    height: 600px;
    margin-bottom: 10px;
}
.more-padding{
    padding-top: 50px;
}
}

.pricing .green .text-muted{
    color: var(--brandgrey);
}

.green{
        color: var(--brandgrey);
}

td{
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
}

td .icon-check{
    font-size: 30px;
    color: white;
    vertical-align: middle;
}

.green td .icon-check{
    color: var(--brandgrey);
}

.dark-text{
        color: var(--brandgrey) !important;
}

section.contact ul.list-social li a:hover {
text-decoration: none;
 background-color: #444;
}

.technology{
    background-color:var(--brandblue);
    color: white;
}

.technology .text-muted{
    color: #ddd;
}


    .tech-info{
        border-radius: 15px;
        width: 90%;
        margin-left: 5%;
    }


@media(min-width: 992px){
    .tech-info{
        width: 80%;
        margin-left: 10%;
    }
}
